html{
  font-size: 100%;
height: 100%;
width: 100%;
  
}
*{
  margin: 0;
  padding: 0;
 
  
}
body{
  display: flex;
  flex-wrap: wrap;
  background-image: url("hidden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size:auto;
  
 height: 100%;
width: 100%;
  
}
main{
 
}

.nav_bar{
  width: 100%;
  height: 50px;
  margin: auto;
  padding: 13px;
  float: left;
}
.icon{
  color:azure;
  float: left;
}
.logo{
  margin-left: 20px;
}
ul{
list-style-type:none ;
display:grid;
grid-template-columns: 200px  200px 200px;
align-items: center;
/*float:left;*/
justify-content: center;
margin-left: 400px;
 }
.other{
  float: left;
  width: 400px;
  height: 70px;
  
}



ul li{

  padding: 8px;
  margin-left: 65px;
  font-size: 23px;
  float: left;

}
ul li a{
  color:orange;
  text-decoration: none;
  
}
ul li a:hover{
  color: white;
  font-weight: bold;
  
}

#search_btn{
  float: left;
  width: 300px;
  margin-left: 400px;
  margin-top: 2px;

}
#search{
  border:1px orange;
  background: transparent;
  color: white;
  border-style:solid;
  width: 150px;
  height: 12px;
padding: 10px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
font-size: 15px;
}

button{
  color:black;
  background-color: orange;
  width: 100px;
  height:33px ;
  border: orange;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius:3px;
  font-size: 15px;
  margin-left: 0;
}


button:active ,button:hover{
  background-color: #724003;
  color: white;
  transition: 0.8s;
}


#content{
  color: azure;
  margin-left: 30px;
  width: 1200px;
  margin-top: 130px;
  
}

#about{
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1.2px;
  margin-left:0;
}
span{
  color: orange;
}
#about{
  color: white;
}
form{
  width: 300px;
  height: 400px;
  border-color: orange;
  border: 1px;
  top: 120px;
  margin-left: 850px;
  position: absolute;
  border-radius: 25px;
background-color: rgba(0, 0, 0, 0.623);
padding-left: 70px;
padding-top: 20px;
}form h1{
  margin-left:63px ;
  color: orange;
}
#username,#password{
  width: 250px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;  
border-bottom: orange 1px solid;
background-color: rgba(0, 0, 0, 0.623);
margin-top: 20px;
color: white;
}
#username,#password:focus{
  outline: none;

}
#username::placeholder,#password::placeholder{
  color: white;
  padding: 10px;
}
#login_btn{
  margin-left: 70px;
}
#dont_have{
  text-align: center;
  padding-right:55px;
}
#dont_have em a{
   color: orange;

}
#signup:hover{
color: white;
}
#loginWith{
  margin-left: 85px;
}
#upgrade{
margin-top: 20px;
width: 150px;


}
#footer{
  color: white;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30px;
  margin-top: 130px
 

}
#contact ,#about_us{
  text-decoration: none;
  color:orange;

}
#contact{
  margin-left: 10px;
}
#contact:hover,#about_us:hover{
  color: white;
  transition: 0.8s;

}
#rate{
  height: 5px;
  background-color: orange;
  margin-top: 0;
}
#zero, #hundred{
  color: white;
}
#ratting{
  color: orange;
  margin-top: 6px;

}
input[type="range"]::-webkit-slider-runnable-track{
  background: rgb(255, 166, 0);
  height: 3px;

}
input[type="range"]::-webkit-slider-thumb{
 
  margin-top: -7px;
  width: 1cm;
}


@media (max-width:500px) {

  
  #search_btn{
    float: left;
    width: 300px;
    margin-left: 200px;
    margin-top: 2px;
    font-size:80%
}


form{
  width: 250px;
  height: 400px;
  border-color: orange;
  border: 1px;
  top: 520px;
  margin-left: 1px;
  position: absolute;
  border-radius: 25px;
background-color: rgba(0, 0, 0, 0.623);
padding-left: 3px;
padding-top: 20px;

}
html{
  font-size: 100%;
 
  height: 110%;
  width: 100%
}
form h1{
  margin-left:65px ;
  color: orange;
}
#username,#password{
  width: 150px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;  
border-bottom: orange 1px solid;
background-color: rgba(0, 0, 0, 0.623);
margin-top: 20px;
color: white;
padding-left: 10px;
margin-left: 40px;
}

#footer{

  font-size: 9px;
  margin-left: 30px;
  margin-top: 750px
}
#dont_have{
  text-align: center;
  padding-right:15px;
}#content{
  color: azure;
  margin-left: 30px;
  width: 200px;
  font-size: 80%;

  height: 100px;
}
#search{
 
  width: 80px;
  height: 6px;
padding: 9px;
font-size: 110%;
}
#btn{
  width: 50px;
  height:25px ;
  font-size: 100%;
}
#search_btn{
  width: 100%;
  margin-left: 120px;
  margin-top:10px;
}
h1{
  font-family: 3px;
}
nav_bar{
  width: 100%;
  height: 75px;
  margin: auto;
  padding: 13px;
  float: left;
  
}
.icon{
  color:azure;
  float: left;

}
.logo{
  margin-left: 20px;
  font-size: 12px;
}
ul{
list-style-type:none ;
align-items: center;
float:left;
justify-content: center;
width: 20px;
padding: -10px;
margin-left: 20px;
padding-left: 3px;
grid-template-columns: 50px  50px 50px;
margin-left: 120px;
margin-top: 5px;


 }
.other{
  float: left;
  width: 300px;
  height: 30px;
  margin-top: -30px;
  
}
ul li{
  /*margin-left: 250px;*/
  float: left;
  font-size:10px;
  width: 30px;


}

}